.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: visible;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-blend-mode: hue;
  width: var(--max-width);
  max-width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
  border: 3px solid white;
  background: url("/1.jpg") fixed, linear-gradient(354deg, #1211113d, black);
  box-shadow: 0px 0px 10px white;
  background-position: top;
  background-size: cover;
  border-radius: 30px;
  padding: 30px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
  height: min-content;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;

  /* background: transparent; */
  /* linear-gradient(0deg, rgb(0 0 0 / 98%) -1%,rgb(0 0 0 / 0%) 37%), */
  /*background: linear-gradient(to top, rgb(0 0 0 / 95%) 0.5%, rgb(0 0 0 / 0%) 99.5%),
    url(/3.jpg) fixed ;*/
  background: linear-gradient(0deg, rgb(0 0 0 / 98%) -1%, rgb(0 0 0 / 0%) 37%),
    radial-gradient(rgb(0 0 0 / 24%), rgb(0 0 0 / 57%)), url(/3.jpg) fixed;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  animation: blur 2s;
  filter: blur(0px);
  overflow: visible;
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

.left {
  background: black;
  width: 30%;
}

.center::before {
  background: var(--secondary-glow);
  left: 50%;
  overflow: visible;
  border-radius: 50%;
  width: 880px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  overflow: visible;
  width: 1000px;
  height: 680px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  position: absolute;
  filter: blur(60px) hue-rotate(143deg);
  transform: translateZ(0);
  opacity: 0;
  animation: zoomIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  animation-delay: 500ms;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    filter: blur(300px);
    rotate: (0deg);
  }
  to {
    opacity: 1;
    rotate: (180deg);
  }
}

.services {
  opacity: 0.7;
  user-select: none;
}

.mapContainer {
  width: auto !important;
}

.footer {
  margin-top: 200px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 274px;
  gap: 5px;
  right: -230px;
  align-items: center;
}

.author b:hover {
  background: linear-gradient(
      to right,
      rgb(249, 249, 250),
      rgb(146, 228, 224),
      rgb(255, 255, 255),
      rgb(249, 249, 250),
      rgb(146, 228, 224)
    )
    0 0 / 400% 100%;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  background-clip: text;
  animation: animate-gradient 2s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

li:hover .services {
  opacity: 1;
}

.mapContainer > div {
  border-radius: 2%;
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.thirteen img {
  /* filter: invert(66%) sepia(69%) saturate(7487%) hue-rotate(1deg)
    brightness(103%) contrast(106%) !important; */
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    #2a1b1b,
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 5vw;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid > .card {
    margin-bottom: -20px;
    padding: 0;
  }

  .grid > .card h1,
  .grid > .card > div > p {
    text-align: center;
  }

  .logoContainer {
    position: initial !important;
    margin-left: 10px !important;
  }

  .center {
    padding-top: 1vh !important;
    padding-bottom: 0 !important;
    background: linear-gradient(0deg, rgb(0 0 0 / 98%) -1%, rgb(0 0 0 / 0%) 37%),
      radial-gradient(rgb(0 0 0 / 24%), rgb(0 0 0 / 57%)), url(/3.jpg);
  }

  .grid {
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
    border-radius: unset;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 0px white;
    border-top: none;
    margin-top: 50px;
    background-position: 10% 20% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background: url(/1.jpg), linear-gradient(354deg, #1211113d, black);
  }

  .grid > a > h1,
  .grid > ul > h1,
  .grid > div > h1 {
    border-bottom: white 2px solid;
    padding: 10px;
  }

  .grid > a > h1 {
    margin-bottom: 40px !important;
  }

  .mapContainer {
    margin-top: 30px !important;
    margin-bottom: 0px !important;
  }

  .thirteen::after,
  .thirteen::before {
    display: none;
  }

  .image {
    margin-bottom: 30px;
    margin-top: 30px !important;
  }

  .center > h1:last-of-type {
    font-size: 3rem !important;
  }

  .center > h5 {
    font-size: 1.1rem !important;
  }

  .center p {
    margin-top: 20px !important;
    text-align: justify !important;
    max-width: 90vw !important;
    font-size: 1.1rem !important;
  }

  .image svg {
    width: 107px;
    height: 110px;
  }

  .thirteen {
    margin: 0;
    padding: 10px;
  }

  .grid * {
    justify-content: center;
    text-align: start;
  }

  .footer {
    top: 808px;
    max-width: 90vw;
    white-space: break-spaces;
    text-align: center;
    left: -2.5vw;
    font-size: 12px;
  }

  .footer p {
    text-align: center;
  }

  .grid li {
    margin-left: 15vw;
    margin-bottom: 30px;
  }

  .grid li:last-of-type {
    margin-bottom: 0;
  }

  .grid > div a {
    margin-bottom: 30px;
  }

  .grid > div a:last-of-type {
    margin-bottom: 60px;
  }

  .grid h1 {
    margin-bottom: 50px !important;
  }

  .center::before,
  .center::after {
    filter: blur(60px) hue-rotate(143deg) saturate(0.5);
  }

  .center::before {
    background: var(--secondary-glow);
    left: 50%;
    overflow: visible;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: -400px;
  }

  .center::after {
    background: var(--primary-glow);
    overflow: visible;
    width: 400px;
    height: 400px;
    z-index: -1;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
    background-size: cover;
    background-position: bottom;
  }

  .logoContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    /* filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70); */
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
