.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: visible;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.wrapperTop {
  display: flex;
  filter: hue-rotate(145deg) saturate(1.8) brightness(1.1) contrast(1.1);
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  justify-content: space-evenly;
  /* background: linear-gradient(to right, #2a1b1b, rgba(var(--tile-end-rgb), 1)); */
  background: url("/bg-sobre.jpg");
  width: 100vw;
  padding: 30px 0;
  z-index: 2;
}

.bottom {
  grid-area: bottom;
  margin-bottom: 70px;
  background: radial-gradient(#000000a6, black), url(/3.jpg) fixed !important;
  background-size: cover !important;
  background-position: bottom !important;
  padding-bottom: 0 !important;
}

.bottom h1 {
  margin-left: auto;
  margin-right: auto;
}
.bottom:hover {
  border: 1px solid transparent !important;
  border: 1px solid transparent !important;
}

.bottom p {
  margin-left: auto !important;
  margin-right: auto !important;
  width: fit-content;
  margin-top: 15px !important;
  margin-bottom: -15px !important;
  text-align: center;
}

.grid {
  margin-top: 100vh !important;
  padding-top: 0 !important;
  box-shadow: 1px 1px 70px black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 0px;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    "bottom bottom";
  position: relative;
  overflow: hidden;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
  background-blend-mode: hue;
  width: 100vw;
  max-width: 100%;
  /* margin-bottom: 20px; */
  border: 3px solid white, 0px;
  background-position: top;
  background-size: cover;
  /* border-radius: 30px; */
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
  height: min-content;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.center {
  clip: rect(0, auto, auto, 0);
  overflow: hidden;
  position: fixed;
  left: 0;
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
  background-attachment: fixed !important;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;

  /* background: transparent; */
  /* linear-gradient(0deg, rgb(0 0 0 / 98%) -1%,rgb(0 0 0 / 0%) 37%), */
  /*background: linear-gradient(to top, rgb(0 0 0 / 95%) 0.5%, rgb(0 0 0 / 0%) 99.5%),
    url(/3.jpg) fixed ;*/
  background: linear-gradient(0deg, rgb(0 0 0 / 98%) -1%, rgb(0 0 0 / 0%) 37%),
    radial-gradient(rgb(0 0 0 / 24%), rgb(0 0 0 / 57%)), url(/3.jpg) fixed;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  animation: blur 2s;
  filter: blur(0px);
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

.left {
  background: black;
  width: 30%;
}

.center::before {
  background: var(--secondary-glow);
  left: 50%;
  overflow: visible;
  border-radius: 50%;
  width: 880px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  overflow: visible;
  width: 1000px;
  height: 680px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  position: absolute;
  filter: blur(60px) hue-rotate(342deg) saturate(0.8);
  transform: translateZ(0);
  opacity: 0;
  animation: zoomIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;

  animation-delay: 500ms;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    filter: blur(300px);
    rotate: (0deg);
  }
  to {
    opacity: 1;
    rotate: (180deg);
  }
}

.services {
  opacity: 0.7;
  user-select: none;
}

.mapContainer {
  width: auto !important;
  /* box-shadow: 1px 1px 6 0px black; */
}

.image {
  margin-bottom: 30px;
}

.footer {
  /* margin-left: -30px; */
  padding-right: 116px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 116px;
  border-radius: 0 0 24px 24px;
  z-index: 0;
  margin-top: 200px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  width: 100%;
  gap: 5px;
  align-items: center;
}

.footer img {
  filter: saturate(0) contrast(0) brightness(2);
  /* display: none; */
  position: absolute;
  right: 30px;
  top: 0px;
}

.author b:hover {
  background: linear-gradient(
      to right,
      rgb(249, 249, 250),
      rgb(228, 165, 146),
      rgb(255, 255, 255),
      rgb(249, 249, 250),
      rgb(228, 146, 146)
    )
    0 0 / 400% 100%;
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
  background-clip: text;
  animation: animate-gradient 2s linear infinite;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

li:hover .services {
  opacity: 1;
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

.thirteen img {
  /* filter: invert(66%) sepia(69%) saturate(7487%) hue-rotate(1deg)
    brightness(103%) contrast(106%) !important; */
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    black,
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

.logoContainer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 5vw;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .wrapperTop > div > a {
    margin-left: 20px;
  }

  .wrapperTop > div > a:first-of-type {
    margin-top: 50px !important;
  }

  .grid ul > h1,
  .wrapperTop > div > h1 {
    display: flex;
    width: fit-content;
    padding-bottom: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-bottom: 2px solid;
  }

  .wrapperTop > ul {
    margin-bottom: 50px !important;
  }

  .bottom {
    border-radius: 0;
    background: linear-gradient(to right, black, black) !important;

    margin-bottom: 50px;
    padding-top: 10px;
  }

  .bottom h1 {
    margin-bottom: 20px !important;
  }

  .bottom p {
    margin-bottom: 20px !important;
  }

  .wrapperTop {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: radial-gradient(#161515, black);
    /* linear-gradient(to right, black, rgba(var(--tile-end-rgb), 1)) */
    filter: none;
  }

  .grid > .card {
    margin-bottom: -20px;
    padding: 0;
  }

  .grid > .card h1,
  .grid > .card > div > p {
    text-align: center;
  }

  .logoContainer {
    position: initial !important;
    margin-left: 10px !important;
  }

  .center {
    padding-top: 1vh !important;
    padding-bottom: 0 !important;
    background: linear-gradient(0deg, rgb(0 0 0 / 98%) -1%, rgb(0 0 0 / 0%) 37%),
      radial-gradient(rgb(0 0 0 / 24%), rgb(0 0 0 / 57%)), url(/3.jpg);
  }

  .grid {
    /* height: auto; */
    justify-content: start;
    gap: 0px;
    flex-direction: column;
    margin-bottom: 0;
    text-align: center;
    border-radius: unset;
    border-left: none;
    border-right: none;
    border-top: none;
    /* margin-top: 50px; */
    background-position: 10% 20% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-bottom: none !important;
    padding: 0;
  }

  .grid > a > h1,
  .grid > ul > h1,
  .grid > div > h1 {
    border-bottom: white 2px solid;
    padding: 10px;
  }

  .grid > a > h1 {
    margin-bottom: 40px !important;
  }

  .mapContainer {
    margin-top: 30px !important;

    margin-bottom: 137px !important;
  }

  .thirteen::after,
  .thirteen::before {
    display: none;
  }

  .image {
    margin-bottom: 30px;
    margin-top: 30px !important;
    filter: hue-rotate(332deg) saturate(2);
  }

  .center > h1:last-of-type {
    font-size: 3rem !important;
  }

  .center > h5 {
    font-size: 1.1rem !important;
  }

  .center p {
    margin-top: 20px !important;
    text-align: justify !important;
    max-width: 90vw !important;
    font-size: 1.1rem !important;
  }

  .image svg {
    width: 107px;
    height: 110px;
  }

  .thirteen {
    margin: 0;
    padding: 10px;
  }

  .grid * {
    justify-content: center;
    text-align: start;
  }

  .footer {
    bottom: 0 !important;
    border-radius: 0;
    padding-top: 20px;
    filter: saturate(1) brightness(1.1) contrast(1.25);

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url(/11.jpeg);

    background-position: top;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    white-space: initial;
    font-size: 12px;
    padding-bottom: 10px;
  }

  .footer img {
    margin-bottom: 3px;
    display: block;
    position: relative;
    top: 0;
    right: 0;
    padding: 5px;
  }

  .footer p {
    width: 90vw;
  }

  .footer p {
    text-align: center;
  }

  .grid li {
    margin-left: 15vw;
    margin-bottom: 30px;
  }

  .grid li:last-of-type {
    margin-bottom: 0;
  }

  .grid > div a {
    margin-bottom: 30px;
  }

  .grid > div a:last-of-type {
    margin-bottom: 60px;
  }

  .grid h1 {
    margin-bottom: 10px !important;
  }

  .center::before,
  .center::after {
    filter: blur(60px) hue-rotate(342deg) saturate(0.8);
  }

  .center::before {
    background: var(--secondary-glow);
    left: 50%;
    overflow: visible;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: -400px;
  }

  .center::after {
    background: var(--primary-glow);
    overflow: visible;
    width: 400px;
    height: 400px;
    z-index: -1;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
    background-size: cover;
    background-position: bottom;
  }

  .logoContainer {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    /* filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70); */
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
